body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 700px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px #bbb;
}

input {
    width: 80%;
    padding: 12px;
    font-size: 18px;
    margin-right: 10px;
}

button, .btn {
    padding: 12px 20px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
